@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
	font-family: 'Lato', sans-serif;
}
img {
	display: block;
	max-width: 100%;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
}
.header {
	background-color: #222222;
}
.navigation {
	display: flex;
	justify-content: space-between;
	padding: 19px 0;
}
.navigation__left,
.navigation__right {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 33px;
}
.navigation__left button,
.navigation__right button {
	background: none;
	border: none;
}
.banner {
	max-width: 1600px;
	background-color: #f1e4e6;
}
.banner__content {
	display: flex;
	gap: 64px;
}
.banner__content img {
	max-width: 50%;
}

.banner__content-paragraph {
	margin: 290px 0 381px 0;
	padding-left: 16px;
	border-left: 12px solid #f16d7f;
}
.brand {
	color: #222;
	font-size: 48px;
	font-weight: 900;
}
.luxe {
	color: #222;
	font-size: 32px;
	font-weight: 700;
}
.fashion {
	color: #f16d7f;
}

.offer__content {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	padding: 65px 0 96px 0;
}

.offer__content-img1 {
	background-image: url(./img/women1.png);
}
.offer__content-img2 {
	background-image: url(./img/man2.png);
}
.offer__content-img3 {
	background-image: url(./img/children3.png);
}
.offer__content-img4 {
	background-image: url(./img/acces4.png);
	width: 1140px;
}
.img-opacity {
	background-color: rgba(33, 22, 22, 0.7);
	width: 360px;
	height: 260px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.img-opacity4 {
	background-color: rgba(33, 22, 22, 0.7);
	width: 100%;
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.opacity__text {
	color: #fff;
	text-align: center;
	font-size: 16px;
}

.opacity__text span {
	color: #f16d7f;
	font-size: 24px;
	font-weight: 700;
}

.product__content-blocksGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 30px;
}

.product__content-block {
	background-color: #f8f8f8;
}

.block__text {
	padding: 24px 16px;
}

.block__text h2 {
	font-size: 13px;
	padding-bottom: 14px;
}
.block__text-price {
	color: #f16d7f;
	font-size: 16px;
}

.block__text p {
	color: #5d5d5d;
	font-size: 14px;
	font-weight: 300;
	padding-bottom: 18px;
}

.block__text p:last-child {
	color: #f16d7f;
	font-size: 16px;
}

.product__content-button {
	margin-top: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product__content-button button {
	padding: 15px 39px;
	text-align: center;
	background-color: #fff;
	color: #f26376;
	font-family: Lato;
	font-size: 16px;
	border: 1px solid #ff6a6a;
}

.product__content-button button:hover {
	background-color: #f16d7f;
	color: #fff;
	border: 1px solid #ff6a6a;
}

.feature {
	margin-top: 95px;
	background-color: #222224;
}
.feature__content {
	display: flex;
	gap: 30px;
}

.feature__content-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
	padding: 104px 0;
	text-align: center;
}

.feature__content-block h2 {
	color: #fbfbfb;
	font-size: 20px;
}

.feature__content-block p {
	color: #fbfbfb;
	font-size: 14px;
	font-weight: 300;
}
.mainBottom {
	background-image: url(./img/background.png);
	width: 100%;
}
.mainBottom-opacity {
	background: rgba(244, 244, 244, 0.7);
	width: 100%;
}
.mainBottom__content {
	display: flex;
	justify-content: space-around;
	padding-bottom: 126px;
}
.mainBottom__content-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 97px;
	gap: 30px;
}

.mainBottom__content-left p {
	max-width: 360px;
	text-align: center;
	color: #222224;
	font-size: 20px;
}

.mainBottom__content-right {
	padding-top: 150px;
}

.mainBottom__content-right h2 {
	color: #222224;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	line-height: 167.2%;
}

.mainBottom__content-right p {
	color: #222224;
	font-size: 18px;
	line-height: 167.2%;
}

.content-right__form {
	display: flex;
	margin-top: 32px;
}

.content-right__form input {
	padding: 7px 64px 7px 22px;
	background-color: #e1e1e1;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	color: #222224;
	font-size: 14px;
}
.content-right__form button {
	padding: 7px;
	background-color: #f16d7f;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	color: #fff;
	text-align: center;
	font-size: 14px;
}

.footer {
	background-color: #222224;
}

.footer__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__content p {
	color: #fbfbfb;
	font-size: 16px;
}

.footer__content-icons {
	display: flex;
	gap: 8px;
	padding: 24px 0;
}
